body {
    background-color: #a9f3e1;
    margin: 0;
    padding: 0;
}

div h2 {
    color: orangered;
}

#show {
    background-color: lightgray; /* Background for the entire list */
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    
}

#show li {
    background-color: #ffffff; /* Set a more noticeable background for each list item */
    margin: 5px 0;
    padding: 8px;
    list-style: none;  /* Remove default bullet points */
    border-radius: 5px;
    color: rgb(232, 121, 10);
   display: block;
   


}

h1{

    background-color: bisque;
    width:30%;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    


}

#show li:hover {
    background-color: #cce7ff; /* Change background on hover */
        
}
.Container{

    display: flex;
    flex-direction: column;
    float: end;
    align-items: flex-end;
    padding: 10px;

}
