/* Styling the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Styling for headings */
h1 {
    color: #007acc;
    text-align: center;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px #aaa;
}

h3 {
    color: #005b99;
    margin-top: 20px;
}

/* Paragraph styling */
p {
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Styling for form elements */
label {
    font-weight: bold;
}

input[type="date"] {
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Select styling */
select {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Radio button styling */
input[type="radio"] {
    margin-left: 10px;
    margin-right: 5px;
}

/* Table styling */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

    table th {
        background-color: #007acc;
        color: white;
        padding: 10px;
        border: 1px solid #ddd;
        text-align: left;
    }

    table td {
        padding: 10px;
        border: 1px solid #ddd;
    }

/* Styling for the whole table */
thead {
    background-color: #005b99;
    color: white;
}

.table {


    height:100px;
    width:100px;
}